.notification {
    color: green;
    background-color: #ddd;
    padding: 10px 30px;
    font-size: 1.25rem;
    text-align: center;
    width: fit-content;
    border-radius: .8rem;
    border: 2px solid green;
    margin-bottom: 1.5rem;
}

.notification.error {
    color: red;
    border-color: red;
}